global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 't2r2-services'
    static_configs:
      - targets: ['host.docker.internal:8080', 'host.docker.internal:8081']
        labels:
          group: 't2r2'
